@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #AF9A50;
    font-family: 'Montserrat', sans-serif;
}
.row.vertical{
    display: flex;
    flex-direction: column;
}
.nav-overlay{
    position: relative;
    z-index: 3;
}
.nav-positioning{
    position: fixed;
    top: 25px;
    left: 30%;
    width: 575px;
    height: 50px;
}
.nav-background{
    background-color: #2c2b25;
    backdrop-filter: blur(30px);
    border-radius: 5px;
}
.sign-up-btn{
    background-color: #AF9A50;
    color: #2c2b25;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 100;
    padding: 5px 6px;
    width: 70px;

}
.sign-up-btn:hover{
    color: white;
    transition: transform .5s ease-in-out;
}

.hero-img-container{
    height: 600px;
    width: 400px;
}
.hero-img{
    height: 300px;
    width: 450px;
    object-fit: cover;
}
.hero-title{
    font-size: 100px;
    font-weight: 100;
}
.hero-margin{
    margin: 300px 0 130px 0;
}
.title-paragraph{
    font-weight: 100;
}
.ticker-tape {
    display: flex;
    height: 400px;
    transform: translateX(0px);
}

.ticker-tape img {
    height: 95%;
    width: auto;
    margin-right: 50px;
    margin-top: 10px;
    box-shadow: 5px 3px 3px rgba(0,0,0,.3);
    border: 1px solid #AF9A50;
    transition: transform .5s ease-in;
}
.ticker-container{
    overflow: hidden;
    border: 1px solid #AF9A50;
    border-radius: 10px;
    box-shadow: 11px 7px 7px rgba(0, 0, 0, 0.3);
    background-color: #2c2b25;
}

.photography-service, .videography-service, .both-service{
    width: 350px;
    height: 250px;
    background-color: #181716;
    padding: 20px;
    border: 0.5px solid rgba(175, 154,80, 0.5);
    /*box-shadow: ;*/
}
.photography-heading, .videography-heading, .both-heading{
    font-size: 20px;
    font-weight: 100;
}
.services-spacing{
    margin-top: 30px;
}
.services-gap{
    margin-left: -70px;
    gap: 30px;
}
/***************************Work Component*********************/

.gym, .events, .animals, .city{
    height: 300px;
    background-color: #2c2b25;
    border: 0.5px solid rgba(175, 154,80, 0.5);
    position: relative;
}
.work-images{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.works-header{
    margin-top: 70px;
}
.fade-in-link {
    position: absolute;
    top: 50%;
    left: 23%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-size: 25px;
}

.works-overlay:hover .fade-in-link {
    opacity: 1;
}
.works-overlay {
    position: relative;
}

.works-overlay:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.works-overlay:hover:before {
    opacity: 1;
}

.works-overlay:hover .work-images {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
}

/*******************Reviews Component*****************************/
.review{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    height: 300px;
    width: 520px;
    background-color: #2c2b25;
}
.review-header{
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
}
.review-weight{
    font-weight: 100;
}
.review-margin{
    margin-top: 50px;
}
.review-title-weight{
    font-weight: 400;
}
/*******************Footer Component*****************************/
.logo-container{
    width: 20px;
    height: 20px;
}
.footer-container{
    margin:100px 0 30px 0;
}
.logo:hover{
    transform: scale(1.2);
    transition: transform .5s ease-in-out;
    color: white;
}