@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    background-color: black;
    color: #AF9A50;
    font-family: 'Montserrat', sans-serif;
}
.row.vertical{
    display: flex;
    flex-direction: column;
}
.nav-overlay{
    position: relative;
}
.nav-positioning{
    position: fixed;
    top: 25px;
    left: 30%;
    width: 575px;
    height: 50px;
}
.nav-background{
    background-color: #2c2b25;
    backdrop-filter: blur(30px);
    border-radius: 5px;
}

.hero-img-container{
    height: 600px;
    width: 400px;
}
.hero-img{
    height: 300px;
    width: 450px;
    object-fit: cover;
}
.hero-title{
    font-size: 100px;
    font-weight: 100;
}
.hero-margin{
    margin-top: 300px;
}
.title-paragraph{
    font-weight: 100;
}
.ticker-tape {
    display: flex;
    height: 400px;
    transform: translateX(0px);
}

.ticker-tape img {
    height: 100%;
    width: auto;
    margin-right: 50px;
    transition: transform .5s ease-in;
}
.ticker-container{
    overflow: hidden;
}
