@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #AF9A50;
    font-family: 'Montserrat', sans-serif;
}
.row.vertical{
    display: flex;
    flex-direction: column;
}
.nav-overlay{
    position: relative;
    z-index: 3;
}
.nav-positioning{
    position: fixed;
    top: 25px;
    left: 30%;
    width: 575px;
    height: 50px;
}
.nav-background{
    background-color: #2c2b25;
    backdrop-filter: blur(30px);
    border-radius: 5px;
}

.hero-img-container{
    height: 600px;
    width: 400px;
}
.hero-img{
    height: 300px;
    width: 450px;
    object-fit: cover;
}
.hero-title{
    font-size: 100px;
    font-weight: 100;
}
.hero-margin{
    margin: 300px 0 130px 0;
}
.title-paragraph{
    font-weight: 100;
}
.ticker-tape {
    display: flex;
    height: 400px;
    transform: translateX(0px);
}

.ticker-tape img {
    height: 95%;
    width: auto;
    margin-right: 50px;
    margin-top: 10px;
    box-shadow: 5px 3px 3px rgba(0,0,0,.3);
    border: 1px solid #AF9A50;
    transition: transform .5s ease-in;
}
.ticker-container{
    overflow: hidden;
    border: 1px solid #AF9A50;
    border-radius: 10px;
    box-shadow: 11px 7px 7px rgba(0, 0, 0, 0.3);
    background-color: #2c2b25;
}

.photography-service, .videography-service, .both-service{
    width: 350px;
    height: 250px;
    background-color: #181716;
    padding: 20px;
    border: 0.5px solid rgba(175, 154,80, 0.5);
    /*box-shadow: ;*/
}
.photography-heading, .videography-heading, .both-heading{
    font-size: 20px;
    font-weight: 100;
}
.services-spacing{
    margin-top: 30px;
}
.services-gap{
    margin-left: -70px;
    gap: 30px;
}
/***************************Work Component*********************/

.gym, .events, .animals, .city{
    height: 300px;
    background-color: #2c2b25;
}
.work-images{
    width: 100%;
    height: 100%;
    background-size: cover;
}
.works-header{
    margin-top: 70px;
}